#homeimage {
    display: block;
    margin: 0 auto;
}

h3 {
    text-align: center;
    font-family: Raleway;
}

h4 {
    text-align: center;
    font-style: italic;
}

#myCarousel {
    background-color: grey;
    width: 600px;
    height: 500px;
    margin: auto;
}